@import "vars";


body{
	color: $font-color;
	font-family: lato;
	font-size: 1.0rem;
	margin: 0;
}
h1{
	font-size: 2.0rem;
}
h2{
	font-size: 1.2rem;
	padding: 5px;
	// background-color: $primary-color;
	// border: none;
	// color: $font-color-invert;
	border-bottom: 1px solid $font-color-fade;
}
h1,h2,h3,h4{
	letter-spacing: 2px;
}
h4{
	margin: 10px 0;
}
h5{
	margin: 10px 0;
}

i{
	width: 25px;
	text-align: center;
}

div#heading{
	color: $font-color-invert;
	background-color: $primary-color;
	padding: 10px;
	.left-heading{
		h1{
			display: inline-block;
			font-size: 1.0rem;
			margin: 0;
		}
	}
	ul{
		float: right;
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			font-weight: bold;
			display: inline-block;
			margin: 0 15px;
		}
	}
}

.left{
	text-align: left;
}
.right{
	text-align: right;
}

p.description{
	font-size: 0.8rem;
	color: $font-color-fade;
}

.tech-icon{
	height: 1.0rem;
}

#heading{
	a{
		color: $font-color-invert;
	}
}
